{% extends "base_generic.html" %}

{% block content %}
    <h1 class="ui center aligned header" style="margin-top: 50px; font-size: 40px;">ALL BLOGS</h1>

    {% if blog_list %}
    <ul style="margin-top: 40px; font-size: 20px;">

      {% for blog in blog_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a> ({{blog.post_date}}) — <a href="{% url 'blogs-by-author' blog.author.pk %}">{{ blog.author }}</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no blogs.</p>
    {% endif %}       
{% endblock %}

